[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/shim"]
	path = bundle/shim
	url = git://github.com/vim-scripts/Superior-Haskell-Interaction-Mode-SHIM.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = git://github.com/chrisbra/csv.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/dbext.vim"]
	path = bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-easyclip"]
	path = bundle/vim-easyclip
	url = https://github.com/svermeulen/vim-easyclip.git
[submodule "bundle/apidock"]
	path = bundle/apidock
	url = https://github.com/mileszs/apidock.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/sonicpi"]
	path = bundle/sonicpi
	url = https://github.com/dermusikman/sonicpi.vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/jinja2"]
	path = bundle/jinja2
	url = https://github.com/mitsuhiko/jinja2.git
[submodule "bundle/vim-jinja2-syntax"]
	path = bundle/vim-jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = git@github.com:eagletmt/ghcmod-vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = git@github.com:nelstrom/vim-visual-star-search.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
