[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/unicode-haskell"]
	path = bundle/unicode-haskell
	url = git://github.com/frerich/unicode-haskell.git
[submodule "bundle/shim"]
	path = bundle/shim
	url = git://github.com/vim-scripts/Superior-Haskell-Interaction-Mode-SHIM.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = git://github.com/chrisbra/csv.vim.git
